* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: darkgrey;;
}

/* Add styles here! */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin: 20px 0 ;
}

strong {
  color: green;
}

header {
  background-color: white;
  border-bottom: 5px solid grey;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 150px 0;
}

.intro-chunk {
  font-size: 1.5rem;
  max-width: 500px;
  line-height: 1.5;
  padding-left: 40px;
}

.indented-heading {
  width: fit-content;
  padding: 10px 40px;
  margin-top:-60px;
  margin-left: -40px;
  border-bottom: 5px solid darkorange;
  background-color: orange;
}

.card {
  font-size: 1.2rem;
  padding: 70px 30px 30px;
  background-color: white;
}